<!-- MODAL -->

<!-- <div class="modal_wrapper modal_7" data-modal="modal_7">
    <div class="modal_main">
        <div class="modal_header">
            <h3>Confirm Reset <i class="fab fa-pagelines"></i></h3>
            <i class="far fa-times-circle close_modal"></i>
        </div>
        <div class="modal_form modal_options">
        </div>
    </div>
</div> -->