<div class="modal_wrapper modal_11" data-modal="modal_11">
    <div class="modal_main">
        <div class="modal_header">
            <h3>Data to copy <i class="fas fa-copy"></i></h3>
            <i class="far fa-times-circle close_modal"></i>
        </div>
        <div class="modal_form">
            <form >
                <input type="checkbox" name="checkbox" class="checkbox" value="Sandbox">
                <span class="checkbox_text">Sandbox</span>
                <br>
                <input type="checkbox" name="checkbox" class="checkbox" value="Docs">
                <span class="checkbox_text">Docs</span>
                <br>
                <input type="checkbox" name="checkbox" class="checkbox" value="Contract">
                <span class="checkbox_text">Contract</span>
                <br>
                <input type="checkbox" name="checkbox" class="checkbox" value="Update">
                <span class="checkbox_text">Update</span>
                <br>
                <center>
                    <button class="copy-data" id="copy-data">Copy Data <i class="fas fa-arrow-right submit_arrow"></i></button>
                </center>
            </form>
        </div>
    </div>
</div>